<div id=""{{ options.id }} class="dropdown postcode-search-form {{ options.classes }}">
  <input id="{{ random_id }}" value="{{ options.value }}" name="{{ options.name }}" class="form-control ul-search-input postcode-search-input" placeholder="{{ options.placeholder }}" type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" search-target="postcode-list-{{ random_id }}" autocomplete="off"/>
  <ul id="postcode-list-{{ random_id }}" search-max="{{ search_max }}" aria-labelledby="{{ random_id }}" class="dropdown-menu ul-searchable postcode-search-list">
    {% for postcode in postcodes %}
    <li searchable="yes" search-value="{{ postcode.getPostcode() }}" {% if loop.index>
      search_max %}style="display: none;"{% endif %}>
      <a href="#" class="postcode-search-list-postcode" postcode="{{ postcode.getPostcode() }}">
        {{ postcode.getPostcode() }} {{ postcode.getLocality() }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
